* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Arial', sans-serif;
  line-height: 1.6;
  background-color: #f8f8f8;
  color: #333;
}
.genericContainer {
  display: grid;
  place-content: center;
  padding: 40px;
}

.accordion {
  display: flex;
  flex-direction: column;
  width: 500px;
}

.accordion-section {
  border: 1px solid #ccc;
  margin-bottom: 5px;
}
.accordion-title {
  display: flex;
  justify-content: space-between;
  background-color: #f1f1f1;
  align-items: center;
  cursor: pointer;
  user-select: none;
  padding-inline: 20px;
}

.title-icon {
  color: red;
  font-size: 30px;

  font-weight: bold;
}
.accordion-content {
  padding-inline: 20px;
}
